{
  "caiyun": {
    "cache_file": "cache.json",
    "cache_ttl": 50,
    "token": "example token",
    "latitude": 0.0,
    "longitude": 0.0,
    "retry": 3
  },
  "telegram": {
    "realtime_id": 1,
    "precipitation_id": 2,
    "temperature_id": 3,
    "target": "chat id",
    "token": "bot token",
    "use_updates": true
  }
}
